* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.title {
	margin-top: 50px;
	margin-bottom: 50px;
}

.main-container {
	width: 100%;
	height: 100%;
	/* background-color: red; */
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	position: relative;
	font-size: 12px;
	/* width: 100%; */
	/* height: 100%; */
	/* background: coral; */
}

th {
	padding-left: 50px;
}

td {
	padding-left: 50px;
}

tr {

}

th {
	background-color: #f3f8ff;
	height: 50px;
	border-bottom: 1px solid #ccc;
	color: #9f9f9f;
}

table {
	margin-top: 15px;
}

tr {
	border-bottom: 1px solid #ccc;
}

tr:hover {
	background-color: #f3f3f3;
}

.btnNewUser {
	background-color: #385eaa;
	color: white;
	height: 30px;
	width: 150px;
	border: none;
	border-radius: 5px;
	margin-bottom: 15px;
}

.icon {
	border: none;
	padding-top: 25%;
	background: none;
}

.form {
	position: absolute;
	left: calc(50% - 200px);
	top: 50px;
	height: 70vh;
	width: 400px;
	padding-top: 20px;
	background-color: #6b6b6c;
	border-radius: 10px;
	border: solid 1px #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;

}

.form input {
	display: block;
}

.form label {
	margin-top: 10px;
}

.form button {
	background-color: #385eaa;
	color: white;
	height: 30px;
	width: 150px;
	border: none;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.formModal {
	width: 50px;
}

.formModal ul {
	list-style: none;
}

.formModal .formModalBtn {
	background-color: #385eaa;
	color: white;
	height: 30px;
	width: 150px;
	border: none;
	border-radius: 5px;
	margin-bottom: 15px;
}

.formModal-container .formModalBtn-delete {
	background-color: #fb5252;
}

.btnStatus {
	display: flex;
}

.green {
	background-color: #22a071;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-top: 7px;
	margin-right: 5px;
}

.red {
	background-color: #fb5252;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-top: 7px;
	margin-right: 5px;
}

.divUser-viewer i {
	margin-right: 5px;
}

.socialImgs i{
	margin-right: 5px;
}
